<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="za.co.controlaltcreate.cordova-plugin-peach-payments" version="0.0.2">
    <name>Peach Payments</name>

    <description>Cordova Peach Payments Plugin</description>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/peach-payments.js" target="js/peach-payments.js"/>

    <js-module src="www/peach-payments.js" name="peach-payments">
        <clobbers target="peachPayments"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Peach Payments">
                <param name="android-package" value="za.co.controlaltcreate.plugin.PeachPayments"/>
            </feature>
        </config-file>

        <source-file src="src/android/PeachPayments.java" target-dir="src/za/co/controlaltcreate/plugin/"/>
    </platform>
</plugin>
